{% extends "index.html" %}
{% load static %}

{% block content %}

<section class="features" style="padding-top: 120px; min-height: 100vh;">
    <div class="container">
        <h2 class="section-title">Professional <span class="text-gradient">Kurslar</span></h2>

        <div class="courses-grid">

            {% for course in courses %}
            <div class="course-card reveal">
                <div class="card-top-line"></div>
                <div class="card-content">

                    <div class="card-header">
                        <div class="icon-box">
                            <i class="{{ course.icon|default:'fas fa-laptop-code' }}"></i>
                        </div>
                        <div class="title-area">
                            <h3 class="course-title">{{ course.title }}</h3>
                            <span class="course-subtitle">{{ course.subtitle }}</span>
                        </div>
                    </div>

                    <div class="tags">
                        <span class="tag tag-level">{{ course.level }}</span>
                        <span class="tag tag-time">{{ course.duration }}</span>
                    </div>

                    <p class="card-desc">
                        {{ course.description }}
                    </p>

                    <div class="topic-container">
                        <ul class="topic-list">
                            {% for module in course.modules.all %}
                            <li>
                                <i class="fas fa-check-circle"></i>
                                {{ module.title }}
                            </li>
                            {% empty %}
                            <li><span style="color:gray">Ma'lumot yo'q</span></li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="card-footer">
                        <a href="{% url 'course_detail' course.id %}" class="card-btn">
                            Batafsil
                        </a>
                    </div>

                </div>
            </div>
            {% empty %}
            <p style="text-align: center; color: var(--text-gray); grid-column: 1 / -1;">Hozircha kurslar mavjud emas.
            </p>
            {% endfor %}

        </div>
    </div>
</section>

{% endblock %}